/*
    Jackie Chambliss
    WEB 210 Lesson 10
    styles.css
*/

/* COLOR PALETTE

#CCD5E4 light blue
#ACC1C1 light green
#204853 dark green
#FF5A5F hot pink

*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ccd5e4;
    font-size: 16px;
    font-family: 'Harmattan', sans-serif;
}
a {
    color: #204853;
}

/* Main Page Grid */
.title {grid-area: title;}
.intro { grid-area: intro; }
#internal_nav { grid-area: intnav;}
#portfolio { grid-area: portfolio;}
footer { grid-area: footer;}

.wrapper {
    display: grid;
	grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    'title title title'
    'intro intro intro'
    'intnav intnav intnav'
    'portfolio portfolio portfolio'
    'footer footer footer';
    grid-row-gap: 20px;
}

/* Title Area */
.title {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #CCD5E4;
    z-index: 2;
    box-shadow: -5px -5px 15px #204853;
}

header img { padding: 10px; }
.title label, #checkbox { display: none; }

/* Main Navigation */
nav {
    background-image: url(images/nav_img.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em 0 3em 1em;
    flex-basis: 4;
    width: 100%;
}
nav a {
    flex: 25%;
    padding: 1em;
    font-weight: bold;
    font-size: 1.2em;
}

/* Introduction */
.intro {
    display: flex;
    font-size: 1.3em;
    margin: 0 10%;
}
.magic {
    font-family: 'Amatic SC', cursive;
    font-size: 2.8em;    
    background: -webkit-linear-gradient(#204853, #FF5A5F);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}
.intro .intro_img {
    order: 2;
}
.intro .blurb {
    order: 1;
    width: 60%;
    margin-right: 20px;
}
.animation {
    position: relative;
    animation-name: agave;
    animation-duration: 4s;
    animation-delay: 2s;
}
@keyframes agave {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* Internal Navigation */
#internal_nav {
    margin-top: 40px;
}
.links {
    display: flex;
    justify-content: center;
    text-align: center;
}
.link {
    background-color: #ACC1C1;
    margin: 0 1em;
    padding: 1em;
    flex: 20%;
    border-radius: 10px;
}
#internal_nav .blurb {
    margin: 30px 10%;
    font-size: 1.1em;
}
.link a {
    font-weight: bold;
    font-size: 1.2em;
}

/* Portfolio Grid */
section h1 { grid-area: section_header;}
.project_blurb { grid-area: project_blurb;}
.project {grid-area: project;}
.cta {grid-area: cta;}

section {
    display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'section_header section_header'
    'project project_blurb'
    'project cta';
    grid-column-gap: 50px;
    margin: 0 10% 50px 10%;
}
section h1 {
    text-align: center;
    background-color: #ACC1C1;
    width: 100%;
    margin: 30px auto;
    border-radius: 10px;
}
.portfolio {
    margin: 0 auto;
    position: relative;
}
section img {
    width: 100%;
    margin-left: 10px;
}
section img:hover {
    opacity: .1;
}
#photography, #recipes {
    display: none;
}

/* Footer */
footer {
    background-color: #204853;
}
footer p {
    text-align: center;
    color: #CCD5E4;
    margin-top: 8px;
}
footer i {
    color: #CCD5E4;
}
.social_links {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.social_links i {
    padding: 10px;
}


/* CONNECT Link*/
a.connect {
    text-align: center;
} 

/* ------------ABOUT --------------- */
.intro_img img {
    width: 100%;
}

@media screen and (max-width:750px) {
    .title {
        display: inline;
    }
    .title label {
        display: inline-block;
        color: #fff;
        background-color: #ACC1C1;
        font-style: normal;
        font-size: 1.2em;
        padding: 20px;
        position: fixed;
        top: 20px;
        right: 0;
        z-index: 3;
        border-radius: 10px 0 0 10px;
        background-image: url(images/menu_xs.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    nav a {
        display: block;
        width: 100%;
        border-top: 1px solid #000;
    }
    nav { 
        display: none; 
        width: 50%;
        position: fixed;
        top: 20px;
        right: 0;
        margin: 0;
    }
    .title input:checked ~ nav {display: block; }
    .title input:checked + label {
        background-color: transparent;
        background-image: url(images/menu_close_dark_s.png);
    }
    header img {
        width: 30%;
        margin-left: 40px;
    }
}